{% extends 'base.html' %} {% load static %} {% block content %}
<br />
<br />
<br />
<br />
<br />
{% comment %}
<div class="general-grid">
    {% for item in t_contrib %}
    <div class="thumbnail-preview">
        <div class="thumbnail-row">
            <img class="pic-1" src="{{ item.td_photo_logo.url }}" />
        </div>
        <div class="uplift-info-grid">
            <div class="chanel-pic">
                <img
                    class="profile"
                    src="{% static 'images/anonymous.png' %}"
                />
            </div>
            <div class="uplift-info">
                <p class="uplift-title">Item : {{ item.td_item_name }}</p>
                <p>Username: {{ item.td_name }}</p>
                <p class="uplift-stats">Issue date: {{ item.td_date }}</p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus imperdiet, nulla et dictum interdum, nisi lorem
                <span class="dots">...</span>
                <span class="more"
                    >erisque enim ligula venenatis dolor. Maecenas nisl est,
                    ultrices nec congue eget, auctor vitae massa. Fusce luctus
                    vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
                    ullamcorper ipsum dignissim ac. In at libero sed nunc
                    venenatis imperdiet sed ornare turpis. Donec vitae dui eget
                    tellus gravida venenatis. Integer fringilla congue eros non
                    fermentum. Sed dapibus pulvinar nibh tempor porta.</span
                >
                <button class="myBtn">Read more</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endcomment %}

<div class="container">
    <div class="row">
        {% comment %} <div class="col-md-4 my-3">
            <div class="card" style="width: 18rem">
                <img
                    src="{% static 'images/me.png' %}"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">Contributer 1</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a
                        href="#"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#example5Modal"
                        >Read More</a
                    >
                    
                    <div
                        class="modal fade"
                        id="example5Modal"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Some quick example text to build on the
                                        card title and make up the bulk of the
                                        card's content.
                                        <span>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam beatae veritatis reiciendis! Inventore recusandae ut esse atque. Voluptate in non quaerat labore laboriosam enim odio ratione deserunt recusandae maxime!
                                        </span>
                                    </p>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="col-md-4 my-3">
            <div class="card" style="width: 18rem">
                <img
                src="{% static 'images/me.png' %}"
                class="card-img-top"
                alt="..."
            />
                <div class="card-body">
                    <h5 class="card-title">Contributor 1</h5>
                    <p class="card-text">
                        <strong>John Doe</strong> has been instrumental in supporting families through the Uplift Project by providing essential aid and resources to those in need. His generosity has touched many lives.
                    </p>
                    <a
                        href="#"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#example5Modal"
                        >Read More</a
                    >
        
                    <!-- Modal -->
                    <div
                        class="modal fade"
                        id="example5Modal"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">More About John Doe</h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        John Doe has been a valued contributor to the Uplift Project. Over the past year, he has provided crucial financial support and donated supplies to help ensure that underprivileged families have access to food, shelter, and education. His commitment has been a beacon of hope for those in need, and his impact continues to inspire others to join the cause.
                                    </p>
                                    <p>
                                        As one of the first donors to step forward, John has helped uplift over 50 families, providing them with opportunities to rebuild their lives and thrive. His contributions have directly funded shelter programs and educational initiatives for children, offering them a better future.
                                    </p>
        
                                    <!-- Text area form -->
                                    <form method="POST" action="">
                                        <div class="mb-3">
                                            <label for="message" class="form-label">Send a Thank You Message</label>
                                            <textarea class="form-control" id="message" name="message" rows="3" placeholder="Write your message here..."></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 my-3">
            <div class="card" style="width: 18rem">
                <img
                    src="{% static 'images/me.png' %}"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">Contributer 2</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a
                        href="#"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#example4Modal"
                        >Read More</a
                    >
                    {% comment %} Modal {% endcomment %}
                    <div
                        class="modal fade"
                        id="example4Modal"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Some quick example text to build on the
                                        card title and make up the bulk of the
                                        card's content.
                                        <span>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam beatae veritatis reiciendis! Inventore recusandae ut esse atque. Voluptate in non quaerat labore laboriosam enim odio ratione deserunt recusandae maxime!
                                        </span>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card" style="width: 18rem">
                <img
                    src="{% static 'images/me.png' %}"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">Contributer 3</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a
                        href="#"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#example3Modal"
                        >Read More</a
                    >
                    {% comment %} Modal {% endcomment %}
                    <div
                        class="modal fade"
                        id="example3Modal"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Some quick example text to build on the
                                        card title and make up the bulk of the
                                        card's content.
                                        <span>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam beatae veritatis reiciendis! Inventore recusandae ut esse atque. Voluptate in non quaerat labore laboriosam enim odio ratione deserunt recusandae maxime!
                                        </span>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card" style="width: 18rem">
                <img
                    src="{% static 'images/me.png' %}"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">Contributer 4</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a
                        href="#"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#example2Modal"
                        >Read More</a
                    >
                    {% comment %} Modal {% endcomment %}
                    <div
                        class="modal fade"
                        id="example2Modal"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Some quick example text to build on the
                                        card title and make up the bulk of the
                                        card's content.
                                        <span>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam beatae veritatis reiciendis! Inventore recusandae ut esse atque. Voluptate in non quaerat labore laboriosam enim odio ratione deserunt recusandae maxime!
                                        </span>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card" style="width: 18rem">
                <img
                    src="{% static 'images/me.png' %}"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">Contributer 5</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a
                        href="#"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#example1Modal"
                        >Read More</a
                    >
                    {% comment %} Modal {% endcomment %}
                    <div
                        class="modal fade"
                        id="example1Modal"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Some quick example text to build on the
                                        card title and make up the bulk of the
                                        card's content.
                                        <span>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam beatae veritatis reiciendis! Inventore recusandae ut esse atque. Voluptate in non quaerat labore laboriosam enim odio ratione deserunt recusandae maxime!
                                        </span>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 my-3">
            <div class="card" style="width: 18rem">
                <img
                    src="{% static 'images/me.png' %}"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">Contributer 6</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                    </p>
                    <a
                        href="#"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        >Read More</a
                    >
                    {% comment %} Modal {% endcomment %}
                    <div
                        class="modal fade"
                        id="exampleModal"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Some quick example text to build on the
                                        card title and make up the bulk of the
                                        card's content.
                                        <span>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quisquam beatae veritatis reiciendis! Inventore recusandae ut esse atque. Voluptate in non quaerat labore laboriosam enim odio ratione deserunt recusandae maxime!
                                        </span>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} <script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".myBtn").forEach(function (button) {
            button.addEventListener("click", function () {
                const parent = this.closest(".uplift-info");
                const dots = parent.querySelector(".dots");
                const moreText = parent.querySelector(".more");
                const btnText = this;

                if (
                    moreText.style.display === "none" ||
                    moreText.style.display === ""
                ) {
                    dots.style.display = "none";
                    btnText.innerHTML = "Read less";
                    moreText.style.display = "inline";
                } else {
                    dots.style.display = "inline";
                    btnText.innerHTML = "Read more";
                    moreText.style.display = "none";
                }
            });
        });
    });
</script> {% endcomment %}
{% endblock %}
