{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
      <br />
      <p style="text-align: center">Register here and receive a tracking code</p>

      <form method="post" action="/T_donor/" class="donor-form" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
          <ul>
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
                <li style="color: aliceblue;">{{ field }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% endif %}

        <label for="username">Username</label>
        <input type="text" placeholder="Your username..." id="username" name="td_name" required />
        <label for="contact">Contact</label>
        <input type="number" placeholder="Your contact..." id="contact" name="td_contact" required />
        <label for="email">Do you want to be contacted by email as well? (optional)</label>
        <input type="email" placeholder="Your email..." id="email" name="td_email" />
        <label for="locaton">Location</label>
        <input type="text" placeholder="Your location..." id="location" name="td_location" required />
        <label for="td_item">Item Categories</label>
        <select name="td_item" id="td_item">
          <option value="" disabled selected>--Select--</option>
          <option value="money">Money</option>
          <option value="clothes">Clothes</option>
          <option value="food items">Food</option>
          <option value="others">Others</option>
        </select>
        <label for="item_name">Item name</label>
        <input type="text" placeholder="Item name..." id="item_name" name="td_item_name" required />
        <label for="image">Upload Image:</label>
        <input type="file" name="td_photo_logo" id="td_photo_logo" accept="image/*" required />
        <label for="description">Description</label>
        <textarea name="td_description" id="description" cols="30" rows="10" placeholder="Description..."></textarea>
        <br />
        <button type="submit">Receive code</button>
      </form>
    </div>
    <br />
{% endblock %}